/// Fonts ///
@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Bold.otf);
  font-weight: 300;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Regular.otf);
  font-weight: normal;
}
/// FONTS ///
