.logo {
  display: block;
  float: left;
  height: 100%;
  width: auto;

  img {
    height: 100%;
    width: auto;
  }
}

.search {
  @include rem(height, 55px);
  @include rem(width, 55px);
  float: right;
  background: url(../img/mglass.png);
  background-size: 100%;

  @include breakpoint($tablet) {
    @include rem(height, 85px);
    @include rem(width, 85px);
  }

  @include breakpoint($desktop) {
    @include rem(height, 130px);
    @include rem(width, 130px);
  }

  &:hover {
    background: url(../img/mglass_green.png);
    background-size: 100%;
    cursor: pointer;
  }
}

.orderBy {
  @include rem(height, 55px);
  @include rem(width, 55px);
  float: right;
  position: relative;
  background: url(../img/orderby.png);
  background-size: 100%;

  @include breakpoint($tablet) {
    @include rem(height, 85px);
    @include rem(width, 85px);
  }

  @include breakpoint($desktop) {
    @include rem(height, 130px);
    @include rem(width, 130px);
  }

  &:hover {
    background: url(../img/orderby-selected.png);
    background-size: 100%;
    cursor: pointer;

    & > .orderBy__list {
      display: block;
    }
  }

  &__list {
    @include rem(top, 55px);
    @include rem(line-height, 55px);
    @include rem(font-size, 16px);
    list-style: none;
    display: none;
    position: absolute;
    background: $c4;
    right: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    z-index: index($z-layers, topnav);

    @include breakpoint($tablet) {
      @include rem(top, 85px);
      @include rem(line-height, 85px);
      @include rem(font-size, 20px);
    }

    @include breakpoint($desktop) {
      @include rem(top, 130px);
      @include rem(line-height, 130px);
      @include rem(font-size, 24px);
    }
  }

  &__item {
    display: block;
    margin: 0;
    padding: 0 10vw;
    border-bottom: rem(1px) solid $c2;

    &:last-child {
      border-bottom: none;
    }
  }
}
