/* Movies styles */

.movies {

  &__table {
    display: table;
    margin: 0;
    padding: 0;
  }

  &__row {
    display: table-row;
  }

  &__img {
    display: table-cell;
    width: 35vw;
    height: 52vw;
    padding-right: 5vw;
    padding-bottom: 1vw;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__details {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 1vw 0;
  }

  &__title {
    @include rem(font-size, 15px);
    @include rem(line-height, 15px);
    margin: 0;

    @include breakpoint($tablet) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__rating {
    position: absolute;
    bottom: 1vw;
    left: 0;
    background: #efefef;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
  }

  &__score {
    @include rem(font-size, 15px);
    display: block;
    text-align: center;
    margin-top: 3vw;
    line-height: 7vw;
    font-weight: bold;

    @include breakpoint($tablet) {
      @include rem(font-size, 55px);
    }
  }

  &__votes {
    @include rem(font-size, 9px);
    display: block;
    text-align: center;
    margin-top: 0;

    @include breakpoint($tablet) {
      @include rem(font-size, 15px);
      @include rem(margin-top, 5px);
    }
  }

  &__date {
    @include rem(font-size, 15px);

    @include breakpoint($tablet) {
      @include rem(font-size, 25px);
    }
  }

}
