/* APP */
@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Bold.otf);
  font-weight: 300; }
@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Regular.otf);
  font-weight: normal; }
body {
  background: #787882;
  color: #fff;
  font-family: MyriadPro, sans-serif;
  font-weight: normal;
  font-size: 12px; }

body > header {
  height: 20vw;
  max-height: 130px;
  background: #000;
  width: 100%; }

.logo {
  display: block;
  float: left;
  height: 100%;
  width: auto; }
  .logo img {
    height: 100%;
    width: auto; }

.search {
  float: right;
  background: url(../img/mglass.png);
  max-width: 130px;
  max-height: 130px;
  background-size: 100%;
  width: 20vw;
  height: 20vw; }
  .search:hover {
    background: url(../img/mglass_green.png);
    background-size: 100%;
    cursor: pointer; }

.orderBy {
  float: right;
  position: relative;
  background: url(../img/orderby.png);
  max-width: 130px;
  max-height: 130px;
  background-size: 100%;
  width: 20vw;
  height: 20vw; }
  .orderBy:hover {
    background: url(../img/orderby-selected.png);
    background-size: 100%;
    cursor: pointer; }

/* Actors list - home view */
.actor__list {
  list-style: none;
  padding: 0;
  margin: 0; }
.actor__link {
  display: block; }
.actor__item {
  float: left;
  margin: 1vw 2%;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  width: 96%;
  box-sizing: border-box; }
  .actor__item:first-child {
    margin-top: 10px; }
  .actor__item:last-child {
    margin-bottom: 10px; }
  .actor__item:nth-child(odd) {
    background: #454954;
    color: #fff; }
  .actor__item:nth-child(even) {
    background: #fff;
    color: #434752; }
.actor__imgWrapper {
  border: 5px solid black;
  border-radius: 20vw;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: block; }
.actor__img {
  width: 100%;
  margin-top: -20%;
  height: auto; }
.actor__name {
  float: left;
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  margin: 0; }
  .actor__name a {
    color: inherit;
    text-decoration: none; }
.actor__location {
  float: left;
  clear: left;
  font-style: italic; }
  .actor__location:before {
    content: "";
    background: url(../img/pin_black.png) no-repeat;
    width: 12px;
    height: 12px;
    float: left;
    background-size: 100%; }
    .actor__item:nth-child(odd) .actor__location:before {
      background: url(../img/pin_white.png) no-repeat;
      background-size: 100%; }
.actor__description {
  float: left;
  width: 70vw; }
.actor__rate {
  width: 20vw;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vw;
  text-align: center;
  background: #eeeeee;
  color: #3f4650;
  border-radius: 5px;
  font-size: 5vw;
  font-weight: bold;
  overflow: hidden; }
  .actor__rate-header {
    width: 100%;
    height: 10%;
    background: #72a201; }
    .actor__item:nth-child(odd) .actor__rate-header {
      background: #01b7e6; }
  .actor__rate-table {
    display: table;
    width: 100%;
    height: 90%; }
  .actor__rate-result {
    display: table-cell;
    vertical-align: middle; }
.actor__table {
  display: table;
  width: 100%; }
.actor__cell {
  display: table-cell;
  vertical-align: middle; }
  .actor__cell:first-child {
    width: 20vw; }
  .actor__cell:last-child {
    padding-left: 5vw; }

/* Actor profile */
.profile__base {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none; }
  .profile__base.profile__animate {
    display: block; }
  .profile__base .actor__description {
    width: 100%; }
.profile__content {
  background: #fff;
  width: 96%;
  height: calc(100% - 4vw);
  margin: 2vw;
  color: #434752;
  box-sizing: border-box;
  padding: 3vw;
  border-radius: 5px;
  z-index: 3;
  position: relative; }
.profile__content > header {
  width: calc(100% - 4vw);
  background-color: #fff;
  z-index: 4;
  border-radius: 5px; }
.profile__content > article {
  height: calc(100% - 65px);
  overflow-y: auto; }
.profile__backButton {
  background: url(../img/back.png);
  max-width: 30px;
  max-height: 30px;
  width: 3vw;
  height: 3vw;
  background-size: 100%;
  margin: 5vw;
  cursor: pointer;
  border: 0;
  outline: none; }

/* Movies styles */
.movies__table {
  display: table;
  margin: 0;
  padding: 0; }
.movies__row {
  display: table-row; }
.movies__img {
  display: table-cell;
  width: 35vw;
  height: 52vw;
  padding-right: 5vw;
  padding-bottom: 1vw; }
  .movies__img:last-child {
    padding-bottom: 0; }
.movies__details {
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding: 1vw 0; }
.movies__title {
  font-size: 20px;
  line-height: 20px;
  margin: 0; }
.movies__rating {
  position: absolute;
  bottom: 1vw;
  left: 0;
  background: #efefef;
  width: 15vw;
  height: 15vw;
  border-radius: 10px; }
.movies__score {
  display: block;
  text-align: center;
  font-size: 7vw;
  margin-top: 3vw;
  line-height: 7vw;
  font-weight: bold; }
.movies__votes {
  display: block;
  text-align: center;
  margin-top: 1vw; }

/*# sourceMappingURL=app.css.map */
