/* APP */
@import "breakpoint";

$base-font-size : 16px;
$rem-fallback: false !default;
$rem-px-only: false !default;

$z-layers: topnav, topnavFlyout, lightbox, lightboxContent;

/* Table of content */
/* 1.  Functions
   2.  Mixins
   3.  Breakpoints
   4.  Base styles
   5.  Header
   6.  Actors list
   7.  Actor profile
   8.  Movies list
*/

/* =====================
   1. Functions
   ===================== */
@import "partials/core/functions";


/* =====================
   2. Mixins
   ===================== */
@import "partials/core/mixins";


/* =====================
   3. Breakpoints
   ===================== */
@import "partials/core/breakpoints";


/* =====================
   4. Base styles
   ===================== */
@import "partials/modules/base";


/* =====================
   5. Header
   ===================== */
@import "partials/modules/header";


/* =====================
   6. Actors List
   ===================== */
@import "partials/modules/actor-list";


/* =====================
   7. Actor Profile
   ===================== */
@import "partials/modules/actor-profile";


/* =====================
   8. Movies List
   ===================== */
@import "partials/modules/movies-list";
