<ul class="actor__list">
  <li class="actor__item" ng-repeat="actor in vm.actors">
    <article>

      <div class="actor__table">
        <div class="actor__cell">
          <a class="actor__imgWrapper" ui-sref="actors({ id: actor.identifier })">
            <img class="actor__img" alt="{{actor.name}}" ng-src="{{actor.profile_path}}"/>
          </a>
        </div>

        <div class="actor__cell">
          <h2 class="actor__name">
            <a ui-sref="actors({ id: actor.identifier })" ng-bind="actor.name"></a>
          </h2>
          <div class="actor__location" ng-bind="actor.location"></div>
        </div>
      </div>

      <p class="actor__description" ng-bind="actor.description"></p>

      <div class="actor__rate">
        <div class="actor__rate-header"></div>
        <div class="actor__rate-table">
          <div class="actor__rate-result" ng-bind="actor.popularity | number:2 | number"></div>
        </div>
      </div>
    </article>
  </li>
</ul>
