<section class="profile__base">
  <div class="profile__content">
    <header>
      <button class="profile__backButton"></button>
    </header>

    <article ng-repeat="actor in vm.actors | filter: {identifier : vm.actorId}">
      <section>
        <div class="actor__table">
          <div class="actor__cell">
            <a class="actor__imgWrapper" ui-sref="actors.profile({ id: actor.identifier })">
              <img class="actor__img" alt="{{actor.name}}" ng-src="{{actor.profile_path}}"/>
            </a>
          </div>

          <div class="actor__cell">
            <h2 class="actor__name">
              <a ui-sref="actors.profile({ id: actor.identifier })" ng-bind="actor.name"></a>
            </h2>

            <div class="actor__location" ng-bind="actor.location"></div>
          </div>
        </div>

        <p class="actor__description" ng-bind="actor.description"></p>
      </section>

      <section>
        <h2>Filmography</h2>

        <div class="movies__table">
          <div class="movies__row" ng-repeat="movie in actor.known_for">
            <img class="movies__img" alt="{{movie.title}}" ng-src="{{movie.poster_path}}"/>

            <div class="movies__details">
              <h3 class="movies__title" ng-bind="movie.title"></h3>

              <div class="movies__date" ng-bind="movie.release_date | date:'dd/MM/yyyy'"></div>
              <div class="movies__rating">
                <span class="movies__score" ng-bind="movie.vote_average"></span>
              <span class="movies__votes" ng-pluralize count="movie.vote_count"
                    when="{'one': '1 vote', 'other': '{} votes'}"></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
</section>
