<section class="search__base" ng-class="vm.searchProfiles">
  <div class="search__content">
    <h2 class="search__hl">Search</h2>
    <div class="search__closeBtn" ng-click="vm.searchProfiles=''"></div>

    <form ng-submit="vm.submit()">
      <label class="search__label" for="name">name</label>
      <input ng-model="vm.name" class="search__name" id="name" name="name" placeholder="write name">

      <label class="search__label" for="location">location</label>
      <select ng-model="vm.location" class="search__location" name="location" id="location">
        <option value="">select location</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="California">California</option>
      </select>

      <label class="search__label">is top?</label>

      <input ng-model="vm.top" class="search__radio" type="radio" name="isTop" id="isTop" value="true">
      <label class="search__radioLabel" for="isTop">Yes</label>

      <input ng-model="vm.top" class="search__radio" type="radio" name="isTop" id="isNotTop" value="false">
      <label class="search__radioLabel" for="isNotTop">No</label>

      <label class="search__label" for="popularity">popularity</label>

      <div class="search__range">
        <input ng-model="vm.popularity" type="text" slider options="vm.sliderOptions" id="popularity" />
      </div>

      <input class="search__submit" type="submit" value="Submit">
    </form>
  </div>
</section>
